$breakpoints-up : (
    "small" : 36em,
    "medium" : 48em,
    "large" : 62em,
    "x-large": 81.25em,
    "xx-large" : 87.5em, 
);

$breakpoints-down : (
    'small' : 35.9375em,
    'medium' : 47.9375em,
    'large' : 61.9375em,
    'x-large': 87.4375em,
);

@mixin breakpoint-down ($key) {
    @media screen and (max-width: map-get($breakpoints-down, $key)) {
        @content;
    };
};

@mixin breakpoint-up ($key) {
    @media screen and (min-width: map-get($breakpoints-up, $key)) {
        @content;
    };
};

@mixin shadowEffectsHeader ($effect) {
    box-shadow: 0 1px 5px $effect;
};