@keyframes fade-in {
    from {
        visibility: hidden;
        opacity: 0;
        bottom: 100%;
    }
    
    1% {
        visibility: visible;
        opacity: 0;
        bottom: 99%;
    }

    25% {
        opacity: 0.25;
        bottom: 75%;
    }

    50% {
        opacity: 0.5;
        bottom: 50%;
    }

    75% {
        opacity: 0.75;
        bottom: 25%;
    }

    to {
        opacity: 1;
        bottom: 0%;
        visibility: visible;
    }
}

@keyframes fade-out {
    from {
        visibility: visible;
        opacity:1;
        bottom: 0;
    }

    25% {

        bottom: 25%;
    }

    50% {
        bottom: 50%;
    }

    75% {
        bottom: 75%;
    }
    
    99% {
        bottom: 99%;
        opacity: 0;
        visibility: hidden;
    }

    100% {
        bottom: 100%;
        visibility: hidden;
    }

}