@import './variables';

.header {
    width: 100%;
    height: $heigh;

    z-index: 2;

    box-shadow:  0 1px 5px $shadowEffect;

    background-color: $themeColor;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;

    position: sticky;
    top: 0;
    left: 0;
    right: 0;

    padding: 0 1.25rem;

    &__logo {
        display: block;
        width: 11rem;
        height: 3rem;
        
        & img {
            display: block;
            width: 100%;
            height: 100%;
        }
    }

    &__nav {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        gap: 30px;
        height: 100%;

        &-links{
            font-size: map-get($font-size, small );
            font-weight: map-get($font-weight, normal );
            color: $DarkBlue;
        }

        & ul {
            width: 100%;
            height: 85%;
            padding: 0 0.3125rem;

            display: flex;
            justify-content: center;
            align-items: center;

            position: relative;

            transition: transform .25s ease-in-out;

            &::before{
                content: '';
                position: absolute;
                bottom: -0.25rem;

                width: inherit;
                height: 0.3125rem;
                background-image: linear-gradient(to right, $darkRed, $cramPink);
                border-radius: 0.4375rem;
                opacity: 0;
                
                transition: opacity .25s ease-in-out;
            }

            &:hover::before, &:hover {
                opacity: 1;
                transform: scale(1.05);
            }
        }
    }

    &__menu {
        position: relative;

        width: 2.2rem;
        height: 2.2rem;

        & .menu {

            &::before,
            &::after, 
            & span {
                position: absolute;

                width: 2.2rem;
                height: 5px;

                background-color: $DarkBlue;
                border-radius: 5px;

            }
            
            & span,
            &::before,
            &::after {
                top: 50%;
                transform: translateY(-50%);
            }

            &::before,
            &::after {
                content: '';
            }

            &::before {
                transform: translateY(-13px);
            }

            &::after {
                transform: translateY(8px)
            }
        }
    }
    
}