$offWhite: rgb(216 204 177);
$darkRed: rgb(166 36 12);
$DarkBlue: rgb(31 40 42);

$shadesOfWhite: rgb(150 140 140);
$cramPink: rgb(226 135 105);

$heigh: 4rem;
$width: 100vw;


$font-size: (
    'x-small' : 0.625rem,
    'small' : 0.9rem,
    'normal' : 1.125rem,
    'large' : 2.5rem,
);
$font-family: sans-serif;
$font-weight: (
    "light" : 300,
    "normal" : 400,
    "bold" : 700,
);