* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@media screen and (min-width: 48em) {
  .hide-from-desktop {
    display: none;
  }
}

@media screen and (max-width: 47.9375em) {
  .hide-from-mobile {
    display: none;
  }
}

.nowrap {
  white-space: nowrap;
}

@media screen and (min-width: 48em) {
  .hide-from-desktop {
    display: none;
  }
}

@media screen and (max-width: 47.9375em) {
  .hide-from-mobile {
    display: none;
  }
}

.nowrap {
  white-space: nowrap;
}

.header {
  width: 100%;
  height: 4rem;
  z-index: 2;
  box-shadow: 0 1px 5px rgba(31, 40, 42, 0.705);
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 1.25rem;
}
.header__logo {
  display: block;
  width: 11rem;
  height: 3rem;
}
.header__logo img {
  display: block;
  width: 100%;
  height: 100%;
}
.header__nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  height: 100%;
}
.header__nav-links {
  font-size: 0.9rem;
  font-weight: 400;
  color: rgb(31, 40, 42);
}
.header__nav ul {
  width: 100%;
  height: 85%;
  padding: 0 0.3125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: transform 0.25s ease-in-out;
}
.header__nav ul::before {
  content: "";
  position: absolute;
  bottom: -0.25rem;
  width: inherit;
  height: 0.3125rem;
  background-image: linear-gradient(to right, rgb(166, 36, 12), rgb(226, 135, 105));
  border-radius: 0.4375rem;
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}
.header__nav ul:hover::before, .header__nav ul:hover {
  opacity: 1;
  transform: scale(1.05);
}
.header__menu {
  position: relative;
  width: 2.2rem;
  height: 2.2rem;
}
.header__menu .menu::before, .header__menu .menu::after, .header__menu .menu span {
  position: absolute;
  width: 2.2rem;
  height: 5px;
  background-color: rgb(31, 40, 42);
  border-radius: 5px;
}
.header__menu .menu span, .header__menu .menu::before, .header__menu .menu::after {
  top: 50%;
  transform: translateY(-50%);
}
.header__menu .menu::before, .header__menu .menu::after {
  content: "";
}
.header__menu .menu::before {
  transform: translateY(-13px);
}
.header__menu .menu::after {
  transform: translateY(8px);
}

@media screen and (min-width: 48em) {
  .hide-from-desktop {
    display: none;
  }
}

@media screen and (max-width: 47.9375em) {
  .hide-from-mobile {
    display: none;
  }
}

.nowrap {
  white-space: nowrap;
}

.main__hero {
  width: 100%;
  height: 28.125rem;
  background-image: url("../../Images/barrett-ward-5WQJ_ejZ7y8-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
}
.main__hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: inherit;
  height: inherit;
  background-color: rgba(31, 40, 42, 0.705);
  opacity: 0.15;
  transition: opacity 0.25s ease-in-out;
}
.main__hero-container {
  position: absolute;
  bottom: -40%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 70%;
  max-width: 900px;
  height: 12.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 12rem;
  gap: 10px;
  padding: 0.3125rem;
}
.main__hero-container .container__item {
  position: relative;
  height: 100%;
  min-width: 100%;
  max-width: 900px;
  display: grid;
  grid-template-rows: 4.375rem 1fr;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 1px 1px 5px rgba(31, 40, 42, 0.705);
  transition: transform 0.25s ease-in-out;
}
.main__hero-container .container__item:hover, .main__hero-container .container__item:active {
  transform: scale(1.03);
}
.main__hero-container .container__item .container__logo {
  justify-self: center;
  align-self: center;
  width: 50px;
  height: 50px;
  margin: 0.4275rem auto;
  border-radius: 50%;
}
.main__hero-container .container__item .container__text {
  justify-self: center;
  text-align: center;
  color: rgb(31, 40, 42);
  font-weight: 400;
  padding: 0.3125rem 1.25rem;
}
.main__hero-container .container__item .container__text p {
  color: hsl(233, 8%, 62%);
}

.ship-now .container__logo {
  background-image: url("../../Images/Icons/classical Icon/ocean-transportation-svgrepo-com.svg");
  background-size: 95%;
  background-position: center center;
}

.get-a-quote .container__logo {
  background-image: url("../../Images/Icons/classical Icon/clipboard-verification-symbol-svgrepo-com.svg");
  background-size: 95%;
  background-position: center center;
}

.aeb-for-business .container__logo {
  background-image: url("../../Images/Icons/classical Icon/delivered-box-verification-symbol-svgrepo-com.svg");
  background-size: 95%;
  background-position: left center;
}

/* || FOR MOBILE */
@media screen and (max-width: 47.9375em) {
  .main__hero-container {
    top: 25rem;
    width: 80%;
    height: -moz-fit-content;
    height: fit-content;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: auto;
  }
}
/* || FOR TABLET */
@media screen and (min-width: 48em) {
  .main__hero:hover::before {
    opacity: 0.65;
  }
  .main__hero-container {
    width: 97%;
    height: 13rem;
    grid-auto-rows: 12.5rem;
  }
  .main__hero-container .container__item {
    width: 100%;
  }
}
/* || FOR DESKTOP */
@media screen and (min-width: 81.25em) {
  .main__hero-container {
    width: 70%;
    height: 13rem;
    grid-auto-rows: 12.5rem;
  }
  .main__hero-container .container__item {
    width: 100%;
  }
}
@media screen and (min-width: 48em) {
  .hide-from-desktop {
    display: none;
  }
}

@media screen and (max-width: 47.9375em) {
  .hide-from-mobile {
    display: none;
  }
}

.nowrap {
  white-space: nowrap;
}

.main__info {
  height: auto;
  padding-bottom: 100px;
  background-color: hsl(220, 16%, 96%);
}
.main__info-services {
  display: grid;
  height: auto;
  gap: 0.9375rem;
  padding-bottom: 20px;
}
.main__info-services h1 {
  font-size: 2.5rem;
}
.main__info-services h1, .main__info-services .services h2 {
  justify-self: center;
  align-self: center;
  height: 100%;
  padding-top: 0.125rem;
  font-weight: 400;
  color: rgb(31, 40, 42);
}
.main__info-services .services {
  display: grid;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 1px 1px 5px rgba(31, 40, 42, 0.705);
  transition: transform 0.25s ease-in-out;
}
.main__info-services .services h2 {
  font-size: 1.375rem;
}
.main__info-services .services-img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  position: relative;
}
.main__info-services .services-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: inherit;
  height: inherit;
  background-color: rgba(31, 40, 42, 0.705);
  opacity: 0.15;
  transition: opacity 0.25s ease-in-out;
}
.main__info-services .services-text {
  padding: 0.625rem 0.4375rem;
  color: hsl(233, 8%, 62%);
  font-size: 0.9rem;
}
.main__info-services .services:hover, .main__info-services .services:active {
  transform: scale(1.03);
}
.main__info-services .services:hover .services-img::before, .main__info-services .services:active .services-img::before {
  opacity: 0.6;
}
.main__info-services .local-services-img {
  background-image: url("../../Images/close-up-delivery-person-giving-parcel-client.jpg");
}
.main__info-services .global-services-img {
  background-image: url("../../Images/AdobeStock_1428802485_Preview.jpeg");
}

/* || FOR MOBILE */
@media screen and (max-width: 47.9375em) {
  .main__info {
    padding-top: 15.625rem;
  }
  .main__info-services {
    margin: 0 auto;
    width: 85%;
    grid-template-rows: 3.125rem 1fr 1fr;
  }
  .main__info-services .services {
    height: 100%;
    grid-template-rows: 3.125rem 9.375rem 8.125rem;
  }
  .main__info-services .services-text {
    height: 100%;
  }
}
/* || FOR TABLETS */
@media screen and (min-width: 48em) {
  .main__info {
    padding-top: 6.25rem;
  }
  .main__info-services {
    grid-template-rows: 4.375rem 1fr 1fr;
    width: 97%;
    margin: 0 auto;
  }
  .main__info-services .services {
    grid-template-rows: 4.375rem 18.75rem 6.25rem;
  }
}
/* || FOR DESKTOP */
@media screen and (min-width: 62em) {
  .main__info-services {
    grid-template-rows: 4.375rem 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .main__info-services h1 {
    grid-column: 1/3;
  }
}
@media screen and (min-width: 48em) {
  .hide-from-desktop {
    display: none;
  }
}

@media screen and (max-width: 47.9375em) {
  .hide-from-mobile {
    display: none;
  }
}

.nowrap {
  white-space: nowrap;
}

.main__info-for-you {
  display: grid;
  grid-template-rows: auto auto;
  gap: 3.125rem;
  height: auto;
  width: 97%;
  margin: 0 auto;
  margin-top: 6.25rem;
}
.main__info-for-you .for-you-container {
  display: grid;
  height: auto;
  padding-bottom: 1.25rem;
  padding-top: 1.25rem;
}
.main__info-for-you .for-you-container__img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.main__info-for-you .for-you-container__img::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: inherit;
  height: inherit;
  background-color: rgba(31, 40, 42, 0.705);
  opacity: 0.25;
}
.main__info-for-you .for-you-container__text {
  z-index: 1;
  width: 100%;
  height: 100%;
  margin: auto auto;
  display: grid;
  grid-template-rows: 1fr 1fr 5rem;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 1px 1px 5px rgba(31, 40, 42, 0.705);
}
.main__info-for-you .for-you-container__text .set-1 {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  padding: 0.625rem;
  gap: 0.625rem;
}
.main__info-for-you .for-you-container__text .set-1 h3 {
  font-size: 2.5rem;
  line-height: 1.1;
}
.main__info-for-you .for-you-container__text .set-1 h4 {
  font-size: 1.375rem;
  padding-bottom: 0.9375rem;
  padding-top: 0.625rem;
  position: relative;
}
.main__info-for-you .for-you-container__text .set-1 h4::before {
  content: "";
  position: absolute;
  bottom: 0.625rem;
  width: 4.375rem;
  height: 0.3125rem;
  border-top-right-radius: 0.3125rem;
  border-bottom-right-radius: 0.3125rem;
  background-color: black;
}
.main__info-for-you .for-you-container__text .set-1 h4, .main__info-for-you .for-you-container__text .set-1 h3 {
  font-weight: 400;
}
.main__info-for-you .for-you-container__text .set-1 p {
  font-size: 1.125rem;
  font-weight: 400;
  color: hsl(233, 8%, 62%);
}
.main__info-for-you .for-you-container__text .set-2 {
  display: grid;
  height: 100%;
  gap: 0.3125rem;
  padding: 0 0.625rem;
  background-color: hsl(220, 16%, 96%);
}
.main__info-for-you .for-you-container__text .set-2 h4 {
  font-size: 1.375rem;
  font-weight: 400;
  color: rgb(31, 40, 42);
  padding: 0.625rem;
}
.main__info-for-you .for-you-container__text .set-2 .service {
  height: auto;
  padding: 0.3125rem 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 0.9375rem;
}
.main__info-for-you .for-you-container__text .set-2 .service-logo {
  display: inline-block;
  background-color: yellow;
  width: 2.5rem;
  height: 2.5rem;
}
.main__info-for-you .for-you-container__text .set-2 .service-text {
  color: hsl(233, 8%, 62%);
  font-size: 0.9rem;
  font-weight: 400;
}
.main__info-for-you .for-you-container__text .set-3 {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__info-for-you .for-you-container__text .set-3-button {
  background-color: rgb(166, 36, 12);
  color: hsl(0, 0%, 100%);
  font-size: 1.125rem;
  font-weight: 400;
  padding: 0.9375rem 1.5625rem;
  border-radius: 0.3125rem;
  box-shadow: 1px 1px 5px rgba(31, 40, 42, 0.705);
  position: relative;
}
.main__info-for-you .for-you-container__text .set-3-button::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: inherit;
  height: inherit;
  background-color: hsla(0, 0%, 100%, 0.425);
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}
.main__info-for-you .for-you-container__text .set-3-button:hover::before {
  opacity: 0.25;
}
.main__info-for-you .mini-shipping__img {
  background-image: url("../../Images/black-female-courier-unloading-cardboard-boxes-from-van-while-making-delivery-city.jpg");
  background-position: top center;
}
.main__info-for-you .cargo-shipping__img {
  background-image: url("../../Images/chuttersnap-9cCeS9Sg6nU-unsplash.jpg");
  background-position: center center;
}

/* || FOR MOBILE */
@media screen and (max-width: 47.9375em) {
  .main__info-for-you {
    width: 85%;
  }
  .main__info-for-you .for-you-container {
    grid-template-rows: 15.9375rem 1fr;
    gap: 0.625rem;
  }
  .main__info-for-you .for-you-container__text {
    margin: 0 auto;
    width: 95%;
    height: auto;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 1px 1px 5px rgba(31, 40, 42, 0.705);
  }
  .main__info-for-you .for-you-container__text .set-2 {
    grid-template-columns: 1fr;
    grid-template-rows: 2.5rem;
  }
  .main__info-for-you .for-you-container__text .set-2 .service {
    height: auto;
    padding: 0.3125rem 0;
    align-self: center;
  }
  .main__info-for-you .for-you-container__text .set-2 .service-text {
    color: hsl(233, 8%, 62%);
    font-weight: 400;
  }
}
/* || FOR TABLETS */
@media screen and (min-width: 48em) {
  .main__info-for-you {
    width: 90%;
    gap: 3rem;
  }
  .main__info-for-you .for-you-container {
    grid-template-rows: 28.125rem;
    grid-template-columns: repeat(2, 1fr);
  }
  .main__info-for-you .for-you-container__img {
    order: 2;
    height: 100%;
  }
  .main__info-for-you .for-you-container__text {
    order: 1;
    width: 80%;
    height: 90%;
  }
  .main__info-for-you .for-you-container__text .set-1 h3 {
    font-size: 1.375rem;
    line-height: 1.1;
    font-weight: 700;
  }
  .main__info-for-you .for-you-container__text .set-1 h4 {
    font-size: 1.125rem;
    font-weight: 400;
  }
  .main__info-for-you .for-you-container__text .set-1 p {
    font-size: 0.9rem;
    font-weight: 400;
    color: hsl(233, 8%, 62%);
  }
  .main__info-for-you .for-you-container__text .set-2 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2.5rem;
  }
  .main__info-for-you .for-you-container__text .set-2 h4 {
    font-size: 1.125rem;
    font-weight: 400;
    grid-column: 1/3;
  }
  .main__info-for-you .for-you-container__text .set-3-button {
    font-size: 0.9rem;
    font-weight: 400;
    padding: 0.625rem 1.5625rem;
  }
  .main__info-for-you .mini-shipping__img {
    order: 1;
  }
  .main__info-for-you .mini-shipping__text {
    order: 2;
    transform: translateX(-20%);
  }
  .main__info-for-you .cargo-shipping__text {
    transform: translateX(20%);
  }
}
/* || FOR DESKTOP */
@media screen and (min-width: 81.25em) {
  .main__info-for-you {
    width: 80%;
    gap: 3rem;
  }
  .main__info-for-you .for-you-container {
    grid-template-rows: 28.125rem;
  }
}
@media screen and (min-width: 48em) {
  .hide-from-desktop {
    display: none;
  }
}

@media screen and (max-width: 47.9375em) {
  .hide-from-mobile {
    display: none;
  }
}

.nowrap {
  white-space: nowrap;
}

.main__index {
  min-height: 300px;
  max-height: auto;
  width: 90%;
  padding: 0.9375rem;
  margin: 0 auto;
  display: grid;
  gap: 0.625rem;
  background-color: hsl(0, 0%, 100%);
}
.main__index-sections {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
  padding-bottom: 0.625rem;
}
.main__index-sections h4 {
  font-size: 1.375rem;
  font-weight: 700;
  color: rgb(31, 40, 42);
  padding: 0.3125rem 0;
}
.main__index-sections a {
  font-size: 1.125rem;
  font-weight: 400;
  color: hsl(233, 8%, 62%);
  padding-left: 0.625rem;
  transition: transform 0.25s ease-in-out;
}
.main__index-sections a:hover {
  transform: scale(1.015);
}
.main__index-sections a:active {
  color: rgb(166, 36, 12);
}

/* || FOR MOBILE */
@media screen and (max-width: 47.9375em) {
  .main__index {
    width: 100%;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 1fr;
  }
}
/* || FOR TABLETS */
@media screen and (min-width: 48em) {
  .main__index {
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 48em) {
  .hide-from-desktop {
    display: none;
  }
}

@media screen and (max-width: 47.9375em) {
  .hide-from-mobile {
    display: none;
  }
}

.nowrap {
  white-space: nowrap;
}

.footer {
  height: 200px;
  background: wheat;
  position: static;
  bottom: 0;
  left: 0;
  right: 0;
}

body {
  width: 100vw;
  overflow-x: hidden;
  font-family: sans-serif;
}

.button-cta {
  padding: 0.625rem 2rem;
  border-radius: 45px;
  position: relative;
  background-color: rgb(166, 36, 12);
  color: hsl(0, 0%, 100%);
  text-decoration: none;
  text-align: center;
  font-weight: 700;
  font-size: 1.125rem;
  box-shadow: 1px 1px 5px rgba(31, 40, 42, 0.705);
}
.button-cta::before {
  content: "";
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background-color: hsl(0, 0%, 100%);
  opacity: 0;
  transition: all 0.25s ease-in-out;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.button-cta:hover::before {
  opacity: 0.25;
}

.links {
  text-decoration: none;
}/*# sourceMappingURL=global.css.map */