@import '../../Global/variables';
@import '../../Global/mixin';

/* || Desing for mobile needs to be done */

.header {
    @include shadowEffectsHeader ($shadowEffect);


    width: $width;
    height: $heigh;

    background-color: $themeColor;

    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;


    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    &__aeb_logo-link {
        display: block;
        height: 100%;

        background-color: blue;

        & img {
            display: block;
            height: 100%;
        }
    }

    &__head {
        font-size: map-get($font-size, medium);
        font-weight: map-get($font-weight, normal );
    }

    &__nav {
        &-list {
            list-style-type: none;

            &Item{
                & a {
                    color: $themeTextColor;
                    
                    font-size: map-get($font-size, small);
                    font-weight: map-get($font-weight, normal);
                }
            }
        }
    }
 
}