@import '../../Global/variables';
@import '../../Global/mixin';


.header {
    @include shadowEffectsHeader ($shadowEffect);
    width: $width;
    height: $heigh;

    background-color: $themeColor;

    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    
}