@import '../../Global/reset';
@import '../../Global/variables';

@import './header';

body{
    width: $width;
    height: 100vh;

    font-family: $font-family;
}

.links {
    text-decoration: none;
}