@import '../../Global/reset';
@import '../../Global/variables';

@import './header';
@import './input';
@import './F&Q';
@import '../../Global/footer';

body{
    overflow-x: hidden;
    width: $width;
    height: 100vh;

    font-family: $font-family;
}

.links {
    text-decoration: none;
}